extends layout


block content
  
  h1= title
  img(class="infoImg" src="/images/information-icon.png")



  if !user
    h3 Greetings, and welcome to the wonderful world of sMailandStuff
    a(href='/login') Log In
    p #{hostname}
  else
    p Greetings #{user.displayName}!
    if lastSeen
     p (Last seen #{lastSeen} )
    p
    a(href='/userinfo') User information
    p
    a(href='/mail') Show inbox
   
  
    