extends layout

block content
  h1= title

  if !user
    h2 Greetings! <span style="font-size: 50%">
    p (Last seen #{lastSeen})</span>
    a(href='/login') Log In
  else
    p Greetings #{user.displayName}!
    p (Last seen #{lastSeen} )
    p
    a(href='/userinfo') User information
    p
    a(href='/mail') Show inbox
   
  
    