body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.infoImg {
  position: absolute;
  top: 20px;
  right:20px;
  width:20%;
  display:inline-block
}
